# 1). 修改yaml文件中Daemonset和Service相关端口号配置，默认16080
# 2). kubectl apply -f dcu-exporter-v2.yaml
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: "dcu-exporter"
  namespace: "dcu-system"
  labels:
    app.kubernetes.io/name: "dcu-exporter"
    app.kubernetes.io/version: "v2.3.0"
spec:
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app.kubernetes.io/name: "dcu-exporter"
      app.kubernetes.io/version: "v2.3.0"
  template:
    metadata:
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: &portStr '16080'
        prometheus.io/path: 'metrics'
      labels:
        app.kubernetes.io/name: "dcu-exporter"
        app.kubernetes.io/version: "v2.3.0"
      name: "dcu-exporter"
    spec:
      hostNetwork: true
      serviceAccount: pod-reader
      nodeSelector:
        hygon.com/dcu: "true"
      containers:
      - image: "image.sourcefind.cn:5000/dcu/admin/base/dcu-exporter:v2.3.0"
        securityContext:
          privileged: true
        env:
        - name: "NODE_NAME"
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: "DCU_EXPORTER_LISTEN"
          value: *portStr
        - name: "PULSE"
          value: "10"
#        - name: "ENABLE_METRICS"
#          value: "dcu_temp,dcu_power_usage"
#        - name: "KUBE_CONFIG"
#          value: "/root/.kube/config"
        - name: "LOG_THRESHOLD"
          value: "INFO"
        - name: "LOG_VERBOSE"
          value: "2"
        - name: "HYLINK_DETAIL"
          value: "false"
        - name: "LOG_OUTPUT"
          value: "true"
        name: "dcu-exporter"
        imagePullPolicy: IfNotPresent
        ports:
        - name: "metrics"
          containerPort: &portInt 16080
          hostPort: *portInt
        volumeMounts:
          - name: "kubelet"
            mountPath: "/var/lib/kubelet"
            readOnly: true
          - name: "dev"
            mountPath: "/dev"
          - name: "hostname"
            readOnly: true
            mountPath: "/etc/hostname"
          - name: "vdev"
            readOnly: true
            mountPath: "/etc/vdev"
          - name: "hyhal"
            readOnly: true
            mountPath: /opt/hyhal
      volumes:
      - name: "kubelet"
        hostPath:
          path: "/var/lib/kubelet"
      - name: "dev"
        hostPath:
          path: "/dev"
      - name: "hostname"
        hostPath:
          path: "/etc/hostname"
      - name: "vdev"
        hostPath:
          path: "/etc/vdev"
          type: DirectoryOrCreate
      - name: "hyhal"
        hostPath:
          path: "/opt/hyhal"

---
kind: Service
apiVersion: v1
metadata:
  name: "dcu-exporter"
  namespace: "dcu-system"
  labels:
    app.kubernetes.io/name: "dcu-exporter"
    app.kubernetes.io/version: "v2.3.0"
spec:
  selector:
    app.kubernetes.io/name: "dcu-exporter"
    app.kubernetes.io/version: "v2.3.0"
  ports:
  - name: "metrics"
    port: 16080
  type: NodePort 

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: pod-reader
  namespace: dcu-system

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: pod-reader
rules:
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - "*"
  - apiGroups:
      - storage.k8s.io
    resources:
      - pods
    verbs:
      - '*'

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: read-pods-global
  namespace: dcu-system
subjects:
  - kind: ServiceAccount
    name: pod-reader
    namespace: dcu-system
roleRef:
  kind: ClusterRole
  name: pod-reader
  apiGroup: rbac.authorization.k8s.io

---
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/name: "dcu-exporter"
  name: dcu-exporter
  namespace: kube-system
spec:
  endpoints:
  - honorLabels: true
    interval: 10s
    path: /metrics
    port: metrics
    metricRelabelings:
      - sourceLabels: [dcu_pod_name]
        targetLabel: pod
      - sourceLabels: [dcu_pod_namespace]
        targetLabel: namespace
      - sourceLabels: [node]
        targetLabel: Hostname
      - sourceLabels: [name]
        targetLabel: device
      - action: labeldrop
        regex: dcu_pod_name|dcu_pod_namespace|node|name
  jobLabel: app
  namespaceSelector:
    matchNames:
    - kube-system
  selector:
    matchLabels:
      app.kubernetes.io/name: "dcu-exporter"